@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #89d1fe !important;
}

.wholePage {
    height: 100vh;
}

.m-card {
    border-radius: 25px;
    padding: 1.5rem;
    background: #002240;
}

h1 {
    color: white;
}


button {
    min-width: 100px;
    height: 46px;
    color: white;
    background-color: #002240;
    border: 2px solid white;
    border-radius: 15px !important;
    font-size: 15px;
    font-family: 'Courier New', monospace;
}

button {
    cursor: pointer;
}
